.footer {
  width: 100%;
  height: 15dvh;
  background: #393646;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
  bottom: 0;
}

.socialMedia svg {
  color: #F4EEE0;
  margin: 5px 20px;
  font-size: 40px;
  cursor: pointer;
}

.footer p {
  color: #F4EEE0;
}

@media only screen and (max-width: 600px) {

  .footer svg {
    font-size: 25px;
  }
}
